html,body {background:repeating-conic-gradient(#ccc 0% 25%,#fff 0% 50%) 0 0 / 16px 16px}
canvas {display:block;width:100%;height:100vh;cursor:grab}
h1 {position:fixed;top:0;left:0;padding:1em;margin:1em;background:#fffb;backdrop-filter:blue(2px)}